* {
    margin: 0;
    padding: 0;
}

main {
    width: 90%;
    margin: 0 auto;
}



/* explore travel section styles */

#hero-banner {
    height: 500px;
    background-image: url('./images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 100px;
}

.hero-content {
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 64px;
    margin-bottom: 24px;
}

.hero-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 48px;
}

.input-group {
    background-color: rgba(255, 255, 255, 0.300);
    padding: 16px;
    border-radius: 10px;
}

.input-group input,
select,
button {
    width: 174px;
    height: 52px;
}

.input-group,
input[type=text],
input::placeholder,
select,
button,
button[type=submit] {
    padding-left: 16px;
    font-size: 16px;
    color: #89898B;
    border: none;
    border-radius: 7px;
}

.input-group button[type=submit] {
    color: white;
    background-color: #FF5400;
    border: none;
}



/* popular tours section */
.tours-content {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.tours-content h2 {
    font-size: 40px;
    color: #131318;
    margin-bottom: 24px;
}

.tours-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
    color: #5A5A5D;
}

.tours-content ul {
    padding-left: 20px;
    margin-bottom: 24px;
}

.tours-content ul li {
    font-size: 16px;
    line-height: 26px;
    color: #5A5A5D;
    margin-bottom: 16px;
}

.orange-btn {
    color: white;
    background-color: #FF5400;
}

.tour-box {
    justify-content: space-between;
}

.tour-box img {
    width: 100%;
}


/* Destination styles */
.destination {
    text-align: center;
}

.destination h2 {
    font-size: 40px;
    margin-bottom: 24px;
}

.destination p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 48px;
}

.destination-img-gallary {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}

.destination-img-gallary img {
    width: 100%;
    height: 100%;
}



.grid-item-1 {
    grid-column: auto / span 6;
    position: relative;
}

.grid-item-2 {
    grid-column: auto / span 6;
    position: relative;
}


.grid-item-3 {
    grid-column: auto /span 3;
    position: relative;
}

.grid-item-4 {
    grid-column: auto /span 6;
    position: relative;
}

.grid-item-5 {
    grid-column: auto /span 3;
    position: relative;
}

.grid-item-6 {
    grid-column: auto /span 5;
    position: relative;
}

.grid-item-7 {
    grid-column: auto /span 7;
    position: relative;
}

.destination-img-gallary p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    font-weight: 700;
}




/* mobile device responsive */
@media screen and (max-width:600px) {

    /* explore travel section styles */
    .input-group,
    .hero-content {
        width: 80%;
        margin: 0 auto;
    }

    .input-group input[type=text] {
        width: 95%;
    }

    .input-group input,
    select,
    button {
        width: 100%;
        margin-bottom: 16px;
    }

    .hero-content h1 {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .hero-content p {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 32px;
    }


    /* popular tours section */
    .tours-content {
        flex-direction: column;
    }

    .tours-content h2 {
        font-size: 20px;
    }

    .tours-content p {
        font-size: 14px;
    }

    /* Destination styles */
    .destination-img-gallary {
        display: block;
    }

    .destination-img-gallary img {
        margin-bottom: 16px;
        height: 300px;
    }


}